<h1> Hey, <%= @message.name %> contacted you through bbrassart.me </h1>

<p>Name of the user : <%= @message.name %></p>
<p>Email of the user : <%= @message.email %></p>
<p>Content of his mail  : <%= @message.text %></p>
