<div class="content" id="blog">
    <h2 class="content-head is-center">Blog #Unchained</h2>
    <div class="posts" id="showBlog">

        <section class="post">
            <header class="post-header">
              <p>Post 3 out of 3</p>
                <img class="post-avatar" alt="Baptiste's avatar" height="48" width="48" src="https://s3-us-west-2.amazonaws.com/bbrassart/bbrassart_avatar.jpg">

                <h2 class="post-title">Developers, developers, developers…</h2>

                <p class="post-meta">
                    By <a class="post-author" href="#">Baptiste Brassart</a> under <a class="post-category post-category-design" href="#">development</a> <a class="post-category  post-category-pure" href="#">tech</a>
                </p>
            </header>

            <div class="post-description">
              <div class="post-images pure-g">
                  <div class="pure-u-1 pure-u-md-1-2">
                        <img alt="Photo of someone working poolside at a resort"
                            class="pure-img-responsive"
                            src="https://s3-us-west-2.amazonaws.com/bbrassart/github.jpg">

                  </div>
              </div>
              <p>Fifteen years ago, <a href="https://www.youtube.com/watch?v=8To-6VIJZRE" target=_blank>Steve Ballmer</a> was going crazy for developers. I love that clip.
                That’s bold (no poke intended ☺) and it will remain in tech history forever.</p>
                <p>Now wait a second, why would one of the most important CEO go crazy, lose his breathe
                and, by doing so, end up in the YouTube ‘Comedy’ section? That should give us an
                idea of how <b>developers work is crucial</b>.</p>
                <p>That was 15 years ago. Smartphones and apps did not even exist. Mark Zuckerberg probably
                didn’t even know what social media was.</p>
                <p>2015 will be the year of home automation,
                <a href="http://attackofthefanboy.com/news/oculus-rift-pre-e3-press-conference-set-for-june-11th-price-and-release-date-announcements-possible/" target=_blank>
                  virtual reality headsets</a> and
                a lot, lot more. Facebook Messenger for Android has now been downloaded
                <a href="http://techcrunch.com/2015/06/09/the-new-facebook/" target=_blank>1 billion times</a>. To sum it up, content, users
                interactions, <b>information is everywhere</b> and
                it’s just the beginning. Nowadays, everyone can comment a piece of news, share
                high-quality content, shoot videos in 4k or just express their opinion… on @Medium.</p>
                <p>I’ve always been fascinated by web technologies and, if they were asked, some of my
                friends will probably tell you that I’m… not a nerd but nearly ☺. #YOLO I decided it
                was time for me to <b>learn how to code</b>, time for me to dive in the backbone of all
                those apps we use on a daily basis. I started digging into those lines of weird-looking
                characters some months ago now and it’s just fascinating.</p>
                <p>On Monday, I will start
                the IronHack bootcamp in Barcelona and I’m thrilled. I just can’t wait to actually
                build some ideas I have in mind. And do not forget: “Web developers, web developers,
                web developers” ☺
              </p>

            </div>
        </section>

        <div class="is-center">
          <button class="pure-button pure-button-primary" id="triggerPreviousBlog" data-hook="1" data-total="2"><i class="fa fa-step-backward"></i> Previous post</button>
        </div>

    </div>
  </div>
