<div class="content" id="contact">
    <h2 class="content-head is-center">Feel free to contact me</h2>

    <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
            <form class="pure-form pure-form-stacked">
                <fieldset>

                    <label for="name">Your Name</label>
                    <input id="name" type="text" placeholder="Your Name">


                    <label for="email">Your Email</label>
                    <input id="email" type="email" placeholder="Your Email">

                    <label for="message">Your Message</label>
                    <input id="message" type="text" rows="5" placeholder="Your Message">

                    <button type="submit" class="pure-button">Contact me</button>
                </fieldset>
            </form>
        </div>

        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <h4>About me</h4>
            <p>
              Former editor for one of the major Spanish website, I felf in love with
              MongoDB. Apart from that,
              I've been writing stories about technology for some years now. I live in
              BCN, Spain. Music and mozzarella lover, I love to travel and I'm
              curious of everything.

              I follow with a deep interest all the social networks. Digital marketing,
              social media engagement: those are some of the topics I'm passionate about.
            </p>

            <h4>Board culture</h4>
            <p>I'm also addicted to board sports, especially skateboarding
             and surfing. Since nearly 20 years, I've been switching between boards,
             according to the weather conditions. I've developed a deep interest on how
             the board culture impacts technology, fashion and music.
            </p>
        </div>
    </div>
</div>
