<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" >
        <a class="pure-menu-heading" href="">Baptiste Brassart</a>

        <li class="pure-menu-list">
            <li class="pure-menu-item"><a href="#projects" class="pure-menu-link">Projects</a></li>
            <li class="pure-menu-item"><a href="#blog" class="pure-menu-link">Blog</a></li>
            <li class="pure-menu-item"><a href="#github" class="pure-menu-link">GitHub</a></li>
            <li class="pure-menu-item"><a href="#socialmedia" class="pure-menu-link">Social media</a></li>
            <li class="pure-menu-item"><a href="#cv" class="pure-menu-link">CV</a></li>
            <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">Contact</a></li>
        </li>
    </div>
</div>
