<div class="content" id="projects">
  <h2 class="content-head is-center">Projects</h2>
  <div class="is-center">
    <h2>OwnTheSpot.TV</h2>
    <a href="http://ownthespot.tv" target=_blank>
      <img id="ownthespot__link" src="https://s3.amazonaws.com/ownthespot/background_image.jpg" width="50%" height="50%">
    </a>
  </div>
</div>
