<div class="ribbon l-box-lrg pure-g" id="projects">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
      <a href="http://ownthespot.tv" target=_blank>
        <img class="pure-img-responsive" alt="File Icons" width="350px" src="https://s3.amazonaws.com/ownthespot/background_image.jpg">
      </a>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
      <div class="is-center">
        <h2 class="content-head content-head-ribbon">Projects</h2>
        <div class="is-center">
          <a href="http://ownthespot.tv/" target=_blank>
            <h1 class="splash-head">OwnTheSpot.TV</h1>
          </a>
      </div>
      </div>
    </div>

    </div>
