<div class="content" id="socialmedia">
    <h2 class="content-head is-center">Social media</h2>

    <div class="pure-g">
      <div class="is-center">
        <button class="pure-button pure-button-primary" id="triggerTwitter">Twitter</button>
        <button class="pure-button pure-button-primary" id="triggerInstagram">Instagram</button>
      </div>
    </div>
    <div id="socialMediaContent">
      <span id="showTwitter">
        <a class="twitter-timeline"  href="https://twitter.com/bbrassart" data-widget-id="575986781394468864">Tweets by @bbrassart</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>
      <span id="showInstagram">
        <script src="http://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="http://snapwidget.com/in/?u=YmJyYXNzYXJ0fGlufDEyNXwzfDN8fHllc3w1fG5vbmV8b25TdGFydHxub3x5ZXM=&ve=231115" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
      </span>
    </div>
</div>
