<div class="content is-center posts--column" id="socialmedia">
    <h2 class="content-head">Social media</h2>

    <div class="pure-g">
      <div class="pure-u-lg-1-2 pure-u-md-1 media--sidebar">
        <a class="twitter-timeline" href="https://twitter.com/bbrassart" data-widget-id="575986781394468864">Tweets by @bbrassart</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="pure-u-lg-1-2 pure-u-md-1 media--sidebar">
        <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/81968f685a274febac3c656242ead3c3f1803600.html" id="instansive_81968f685a" name="instansive_81968f685a"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
      </div>
    </div>


</div>
