/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#showGithub {
  padding-top: 20px;
  color: white;
}

.contact--form {
  padding-top: 45px;
}

.pure-form input[type] {
  margin-top: 0.5em;
}

.repo-link {
  color: #6FBEF3;
}

.github--projects__text {
  margin: 1em 0 1em !important;
}


.first--image__post {
  height: 150px;
  padding: 20px 20px 0 0;
  float: left;
}

th {
  color: white;
  font-weight: lighter;
}

thead {
  background-color: #1f8dd6 !important;
}

.button-xsmall {
  font-size: 45%;
  margin-bottom: 3.1px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.xp-col {
  padding: 0 8%;
}

.xp-logo {
  vertical-align: middle;
}

#showCv {
  margin-top: -35px;
}

.media--sidebar {
  padding: 10px;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
